doctype html
html
	head
		title Map of Goans
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyByK4l8jyTfjhjacWWkfQZZ32-PF417VWo&sensor=false')
		script(type='text/javascript', src='/javascripts/maps.js')
	body
		header
			.container
				.logo Map of Goans
		#mapcanvas