doctype html
html
	head
		title Map of Goans
		meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyByK4l8jyTfjhjacWWkfQZZ32-PF417VWo&sensor=false')
		script(type='text/javascript', src='/javascripts/modernizr.min.js')
		script(type='text/javascript', src='/javascripts/tooltip.js')
		script(type='text/javascript', src='/javascripts/maps.js')
	body
		#fb-root
		header Map of Goans 
			span.hidden in North America
			input.search(type="text")
		#mapcanvas
		section
			.tooltip Click on a point on the map to get more info about Goans living at that location!
			.pointerInfo 
				.peopleCount
				| in 
				span.city
			.cityInfo
		footer 
			a.credits(href='http://ankitsardesai.ca/') Created by Ankit Sardesai
			.sharepad
				.fb-like(data-href="http://mapofgoans.ankitsardesai.ca",data-width="170px",data-layout="button_count",data-action="like",data-show-faces="true",data-share="false")

