doctype html
html
	head
		title Map of Goans
		meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js')
		script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyByK4l8jyTfjhjacWWkfQZZ32-PF417VWo&sensor=false')
		script(type='text/javascript', src='/javascripts/modernizr.min.js')
		script(type='text/javascript', src='/javascripts/tooltip.js')
		script(type='text/javascript', src='/javascripts/maps.js')
	body
		#fb-root
		header Map of Goans 
			span.hidden in North America
		#mapcanvas
		section
			.tooltip 
				input.search(type="text",placeholder="Search all Goans...")
				.help Click on a point on the map to get more info about Goans living at that location.
				.help Use the text box above to search for a Goan on the map. 
			.pointerInfo 
				.searchInfo
				.peopleCount
				span.city
			.cityInfo
		footer 
			a.credits(href='http://ankitsardesai.ca/') Created by Ankit Sardesai
			.sharepad
				.fb-like(data-href="http://mapofgoans.ankitsardesai.ca",data-width="170px",data-layout="button_count",data-action="like",data-show-faces="true",data-share="false")

