doctype html
html
	head
		title Map of Goans
		meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyByK4l8jyTfjhjacWWkfQZZ32-PF417VWo&sensor=false')
		script(type='text/javascript', src='/javascripts/maps.js')
	body
		header Map of Goans 
			span.hidden in North America
		#mapcanvas
		section
			.tooltip Click on a point on the map to get more info!
