doctype html
html
	head
		title Upload New Data
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		if showMsg
			if success
				.uploadError.success The file has been uploaded, parsed, and will appear in the database over the next little while.
			else
				.uploadError.failure= error
		form(class="uploadForm", action="", method="post", enctype="multipart/form-data")
			h1 Upload New Data
			.fields
				h2 
					strong Step 1: 
					| Enter Password.
				input(type="password",name="password")
			.fields
				h2 
					strong Step 2: 
					| Upload file. (.xls or .xlsx)
				input(type="file",name="uploadFile")
			.fields
				h2 
					strong Step 3: 
					| Submit!
				input(type="submit", class="submit", value="Upload File")