/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ACTUAL CSS */
@import url("http://fonts.googleapis.com/css?family=Schoolbell|Open+Sans+Condensed:300,700");

@color-1: #00B2FF;
@color-2: #FFA200;
@color-3: #FF6200;

@header-font: "Schoolbell", cursive;
@sidebar-font: "Open Sans Condensed", sans-serif;

@header-color: @color-2;
@header-height: 60px;



html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 15px;
	box-sizing: border-box;
	padding-top: @header-height;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: @header-height - 30px;
	background-color: @header-color;
	border-bottom: 5px solid @color-3;
	border-top: 5px solid @color-3;
	text-align: center;
	font-family: @header-font;
	font-size: 200%;
	padding: 11px 0 9px 0;
	color: #ffffff;

}

section {
	position: absolute;
	top: @header-height + 20px;
	left: 20px;
	width: 300px;
	padding: 15px 25px;
	color: #fff;
	font-family: @sidebar-font;
	font-size: 130%;
	line-height: 1.5;
	border: 5px solid @color-3;
	background-color: @color-2;
	overflow-y: scroll;
	.tooltip {
		text-align: center;
	}
	.cityLabel {
		display: none;
		.city {
			font-weight: bold;
			display: inline-block;
			width: 70%;
			float: right;
			text-align: right;
		}
	}

}

#mapcanvas {
	height: 100%;
	.mapTooltip {
		width: 70px;
		background-color: #000;
		opacity: 0.8;
		color: #fff;
		padding: 5px;
		text-align: center;
		border-radius: 5px;
		position: relative;
		font-size: 12px;
		&:before {
			content: "";
			position: absolute;
			background-color: transparent;
			height: 0;
			width: 0;
			bottom: -5px;
			left: 50%;
			margin-left: -3px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid #000;
		}
	}
}

@media screen and (max-width: 960px) {
	section {
		width: 200px;
		padding: 15px 20px;
	}
}

@media screen and (max-width: 540px) {
	header {
		.container {
			.logo {
				.hidden {
					display: none;
				}
			}
		}
	}
}




