/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ACTUAL CSS */
@import url("http://fonts.googleapis.com/css?family=Gudea:400,700|Delius+Swash+Caps");
//@import url("http://fonts.googleapis.com/css?family=Schoolbell|Gudea:400,700,400italic|Averia+Sans+Libre:700|Bubblegum+Sans|Croissant+One|Sirin+Stencil|Delius+Swash+Caps|Love+Ya+Like+A+Sister|Berkshire+Swash");

@color-1: #70D3F8;
@color-2: #FB8C29;
@color-3: #C35C00;

@header-font: "Delius Swash Caps", cursive;
@sidebar-font: "Gudea", sans-serif;

@header-font-size: 200%;
@header-color: @color-2;
@header-height: 60px;
@header-font-offset: 0px;

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: @header-height;
	background-color: @color-2;
	font-family: @sidebar-font;
}

// Index Page

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: @header-height - 30px;
	text-align: center;
	background-color: @header-color;
	border-bottom: 5px solid @color-3;
	border-top: 5px solid @color-3;
	font-family: @header-font;
	font-size: @header-font-size;
	padding: (10px + @header-font-offset) 10px (10px - @header-font-offset) 10px;
	color: #fff;
}


#mapcanvas {
	height: 100%;
	min-height: 300px;
	.mapTooltip {
		width: 130px;
		background-color: #000;
		opacity: 1;
		color: #fff;
		padding: 5px;
		text-align: center;
		border-radius: 5px;
		font-size: 11px;
		line-height: 1.2;
		white-space: nowrap;
		&:before {
			content: "";
			position: absolute;
			background-color: transparent;
			height: 0;
			width: 0;
			bottom: -5px;
			left: 50%;
			margin-left: -3px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid #000;
		}
	}
}


section {
	position: absolute;
	top: @header-height + 20px;
	left: 20px;
	width: 300px;
	color: #fff;
	line-height: 1.5;
	border: 5px solid @color-3;
	border-radius: 5px;
	background-color: @color-2;
	.tooltip {
		font-size: 110%;
		margin-bottom: 15px;
		&.resultsDisplayed {
			margin-bottom: 10px;
		}
		.help {
			font-size: 90%;
			width: 260px;
			padding: 0 20px;
			margin: 15px 0 0 0;
		}
		.search {
			width: 234px;
			padding: 5px 10px;
			margin: 15px 20px 0 20px;
			border: 3px solid lighten(@color-3, 5%);
			font: inherit;
		}
	}
	.pointerInfo {
		font-size: 85%;
		display: none;
		padding: 0 0 10px 0;
		margin-top: 10px;
		text-align: center;
		border-bottom: 3px solid lighten(@color-3, 5%);
		.peopleCount {
			font-size: 160%;
			font-weight: bold;
		}
	}
	.cityInfo {
		overflow-y: auto;
		max-height: 320px;
		display: none;
		background-color: lighten(@color-2, 9%);
		.person {
			display: block;
			min-height: 20px;
			border-bottom: 3px solid lighten(@color-3, 5%);
			text-decoration: none;
			color: #fff;
			position: relative;
			&:nth-child(odd) {
				background-color: lighten(@color-2, 9%);
			}
			&:nth-child(even) {
				background-color: lighten(@color-2, 15%);
			}
			.name {
				padding: 7px 15px;
				font-size: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&.smallerName {
					padding-bottom: 0;
				}
			}
			.location {
				font-size: 75%;
				padding: 0 15px 10px 20px;
			}
			&.hasDropdown {
				cursor: pointer;
				.name {
					padding-right: 80px;
				}
				&:after {
					content: "[click for more]";
					position: absolute;
					top: 0;
					right: 0;
					font-size: 65%;
					padding: 10px;
				}
			}
			ul {
				border-top: 2px solid lighten(@color-3, 6%);
				padding: 7px 0 9px 0;
				margin: 0 15px 0 20px;
				font-size: 80%;
				padding-left: 1em;
				text-indent: -1em;
				li {
					&:before {
						content: "-";
						display: inline-block;
						margin-left: 1em;
					}
					strong {
						font-weight: bold;
					}

				}
			}
		}
		.returnToSearch {
			padding: 5px 0 0 0;
			font-size: 90%;
			text-decoration: none;
			text-align: center;
			cursor: pointer;
			display: block;
			color: #fff;
		}
		&:after {
			content: "";
			display: block;
			height: 0;
			padding: 0;
			border-top: 2px solid lighten(@color-2, 30%);
			margin: 8px 40%;
		}
	}

}

@footer-share-height: 40px;
@footer-width: 190px;

footer {
	position: absolute;
	bottom: 20px;
	right: 10px;
	display: inline-block;
	width: @footer-width;
	height: @footer-share-height + 75px;
	.credits, .request {
		display: block;
		height: 15px;
		padding: 6px 10px;
		margin-bottom: 10px;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		color: #eee;
		font-size: 14px;
		border-radius: 5px;
		background-color: #000;
		opacity: 0.8;
		&:hover {
			opacity: 1;
			color: #fff;
		}
	}
	.request {
		border: 3px solid darken(@color-3, 20%);
		height: 14px;
	}
	.sharepad {
		border-radius: 5px;
		background-color: #000;
		opacity: 0.8;
		padding: 10px;
		height: @footer-share-height - 20px;
		text-align: center;
	}
}

.notSupported {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 20px;
	background: #fff;
}

@media screen and (max-width: 960px) {
	section {
		width: 230px;
		.tooltip {
			.help {
				width: 190px;
			}
			.search {
				width: 164px;
			}
		}
		.cityInfo .person {
			.name {
				padding-left: 10px;
			}
			.location {
				padding-left: 15px;
			}
			ul {
				margin: 0 10px 0 15px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#mapcanvas {
		height: 70%;
	}
	section {
		position: static;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		display: block;
		width: 100%;
		.tooltip {
			.help {
				width: 90%;
				padding: 0 5%;
			}
			.search {
				margin: 15px auto 0 auto;
				width: 200px;
				display: block;
			}
		}
		.cityInfo {
			max-height: none;
		}
	}
	footer {
		height: 25px;
		position: static;
		display: block;
		width: 100%;
		.credits, .request {
			opacity: 1;
			border-radius: 0;
			border: 0;
			margin: 0;
			background-color: @color-2;
			padding: 10px 0 0 0;
			color: #fff;
		}
		.sharepad {
			opacity: 1;
			border-radius: 0;
			background-color: @color-2;
			padding: 10px 0;
		}
	}
}

@media screen and (max-width: 520px) {
	.hidden {
		display: none;
	}	
}

// Upload Page

.uploadError {
	border: 5px solid @color-3;
	max-width: 500px;
	margin: 0 auto 20px auto;
	padding: 30px;
	font-size: 150%;
	font-weight: bold;
	font-family: @sidebar-font;
	text-align: center;
	line-height: 30px;
	color: #fff;
	&.failure {
		background-color: lighten(red, 30%);
	}
	&.success {
		background-color: lighten(green, 20%);
	}
}

.uploadForm {
	background-color: @color-1;
	border: 5px solid @color-3;
	max-width: 500px;
	margin: auto;
	padding: 30px;
	font-size: 200%;
	font-weight: bold;
	font-family: @header-font;
	text-align: center;
	color: #fff;
	.fields {
		margin-top: 20px;
		border-top: 5px solid darken(@color-1, 20%);
		padding: 30px;
		h2 {
			font-size: 50%;
			font-family: @sidebar-font;
			font-weight: normal;
			padding-bottom: 20px;
			strong {
				font-weight: bold;
			}
		}
		input {
			color: #000;
			line-height: 17px;
			height: 17px;
			margin: 0;
			text-align: center;
			&[type="file"], &[type="password"] {
				display: block;
				width: 60%;
				margin: 0 20%;
			}
		}
	}
}
